.product-section {
    max-width: 100%;
    margin: 0 auto;
    background: #e5e5e5;
    min-height: 100vh;
  }
  
  #product {
    padding: 20px;
    width: 90vw;
  }
  
  #product h1 {
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 600;
  }

  .list{
    display: flex;
  }

  @media screen and (max-width: 768px) {
    #product {
      padding: 10px; /* Adjust padding for smaller screens if needed */
    }
    .list{
        display: flex;
        align-items: center;
        justify-content: center;
      }
  }
  

