#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background: black;
}

.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: hwb(280 20% 20%) !important;
}

#navbarSupportedContent a{
    color: white;
    border-bottom: 2px solid transparent;
}

#navbarSupportedContent a:hover{
    border-bottom: 2px solid darkorchid;
}

#navbarSupportedContent button{
    background-color: darkorchid;
    width: 5rem;
    border-radius: 15px;
}
